h1{

	font-family: 'Courgette', cursive;
	font-size: 800%;
	padding: 5%;
}

h2{
	font-family: 'Droid Serif', serif;
}

#tagline ul{
	list-style: none;
}

#tagline ul li{
	display: inline;
}


.box{
	background-color: #36302B;
	
}

