h1{

	font-family: 'Courgette', cursive;
	font-size: 800%;
	padding: 5%;
}

h2{
	font-family: 'Droid Serif', serif;
}

ul{
	list-style-type: none;
	padding: 2%;
}

ul li{
	padding: 2%;
	display: inline;
}

a:hover {
	text-decoration:none;
}

.box{
	background-color: #36302B;
	
}

